<h1 class="account-lookup-title">Friends - {{account}}</h1>

<table id="friends" name="friends" class="">
    <thead>
    <tr>
        <th>Name</th>
        <th>Screen Name</th>
        <th>Location</th>
        <th>Description</th>
        <th>Url</th>
    </tr>
    </thead>
    <tbody>
    {{#each friends}}
    <tr>
        <td>{{name}}</td>
        <td>{{screen_name}}</td>
        <td>{{location}}</td>
        <td>{{description}}</td>
        <td>{{url}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>

<script>
    $(document).ready(function() {
        $('#friends').dataTable();
    });
</script>