{{#content "title"}}{{channel}}{{/content}}

<h1 class="account-stats-title">Account Statistics - {{account}}</h1>

{{#if results}}

{{#unless hasOneResult}}
<script type="text/javascript" src="/js/site.js"></script>
{{> graph}}
{{/unless}}

<table id="" name="" class="account-lookup">
    <thead>
    <tr>
        <th>Site</th>
        <th>Location</th>
        <th>Followers</th>
        <th>Friends</th>
        <th>Favourites</th>
        <th>Posts</th>
        <th>Latest Post</th>
        <th>Post Date</th>
        <th>Updated</th>
    </tr>
    </thead>
    <tbody>
    {{#each latestResults}}
    <tr>
        <td class="name"><a href="#">{{last_result.name}}</a></td>
        <td class="location">{{last_result.location}}</td>
        <td class="score {{trend followersChange}}"><a href="/followers/channel/{{channel}}/client/{{client}}/account/{{last_result.screen_name}}/id/{{last_result.account}}"><span>{{last_result.followers_count}}<i class="fa {{trendarrow followersChange}}" aria-hidden="true"></i><span class="{{trend followersChange}}">{{formatchange followersChange}}</span></span></a></td>
        <td class="score {{trend friendsChange}}"><a href="/friends/channel/{{channel}}/client/{{client}}/account/{{last_result.screen_name}}/id/{{last_result.account}}"><span>{{last_result.friends_count}}<i class="fa {{trendarrow friendsChange}}" aria-hidden="true"></i><span class="{{trend friendsChange}}">{{formatchange friendsChange}}</span></span></a></td>
        <td class="score {{trend favouritesChange}}"><a href="/favourites/channel/{{channel}}/client/{{client}}/account/{{last_result.screen_name}}/id/{{last_result.account}}"><span>{{last_result.favourites_count}}<i class="fa {{trendarrow favouritesChange}}" aria-hidden="true"></i><span class="{{trend favouritesChange}}">{{formatchange favouritesChange}}</span></span></a></td>
        <td class="score {{trend postsChange}}"><a href="/posts/channel/{{channel}}/client/{{client}}/account/{{last_result.screen_name}}/id/{{last_result.account}}"><span>{{last_result.statuses_count}}<i class="fa {{trendarrow postsChange}}" aria-hidden="true"></i><span class="{{trend postsChange}}">{{formatchange postsChange}}</span></span></a></td>
        <td class="post">{{last_result.latest_status}}</td>
        <td class="post-date">{{dateFormat last_result.latest_status_date}}</td>
        <!--<td class="date">{{last_result.date}}</td>-->
        <td class="date">{{days-since last_result.date}} days ago</td>
    </tr>
    {{/each}}
    </tbody>
</table>

{{/if}}