<header>
    <div role="banner" class="header">
        <div class="container">
            {{#if isStatsPage}}
            <a href="/client/{{client}}">Home</a><span> | <a href="/channel/{{channel}}/client/{{client}}">accounts</a><span> | LFI Social Report</span>
            {{/if}}

            {{#if isDetailsPage}}
            <a href="/client/{{client}}">Home</a><span> | <a href="/channel/{{channel}}/client/{{client}}">accounts</a><span> | <a href="/stats/channel/{{channel}}/client/{{client}}/account/{{account}}">Statistics</a> | LFI Social Report</span>
            {{/if}}

                {{#unless isStatsPage}}
                {{#unless isDetailsPage}}
            <!-- TODO Change hardcoded reference below -->
            <a href="/client/{{client}}">Home</a><span> | LFI Social Report</span>
                {{/unless}}
            {{/unless}}
        </div>

    </div>
</header>

<style>
    header {
        height: 50px;
        /*background-color: teal;*/
        vertical-align: middle;
        color: gray;

    }
    header a {
        text-decoration: none;
        color: gray;
    }
</style>