<header>
    <div role="banner" class="header">
        <div class="container">
            {{#if isDetailsPage}}
            <a href="/client/BSI">Home</a><span> | <a href="/channel/{{channel}}/client/BSI">accounts</a><span> | LFI Social Report</span>
            {{else}}
            <!-- TODO Change hardcoded reference below -->
            <a href="/client/BSI">Home</a><span> | LFI Social Report</span>
            {{/if}}
        </div>

    </div>
</header>

<style>
    header {
        height: 50px;
        /*background-color: teal;*/
        vertical-align: middle;
        color: gray;

    }
    header a {
        text-decoration: none;
        color: gray;
    }
</style>