<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{block "title"}}</title>
    <meta name="description" content="{{block "description"}}"/>

    <!-- For mobile devices. -->
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="/css/site.css"/>

    <script src="https://use.fontawesome.com/7baf634da4.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/js/site.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/js/vendor/Flot/excanvas.js"></script><![endif]-->
    <script type="text/javascript" src="/js/vendor/Flot/jquery.js"></script>
    <script type="text/javascript" src="/js/vendor/Flot/jquery.flot.js"></script>
    <script type="text/javascript" src="/js/vendor/Flot/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="/js/vendor/Flot/jquery.flot.time.js"></script>
</head>
<!--[if IE 7]><body class="ie7"><![endif]-->
<!--[if IE 8]><body class="ie8"><![endif]-->
<!--[if IE 9]><body class="ie9"><![endif]-->
<!--[if !IE]>-->
<body>
    {{> page-header}}

    {{{body}}}
</body>
</html>